<div class="container">

  <div id="time">
  </div>

  <div id="bankAccount">
  </div>

  <div id="transactions">
  </div>
</div>

<script>
    window.onload = function () {
        setup();
    }
</script>
